<section class="testimo-section ">
    <div class=" testimo-heading mb-5">
        <h2 class="testimo-heading-title">Testimonials</h2>
        <p class="testimo-para">Feel free to come to us if you have any queries. <br> Our team is always ready to help out.</p>
    </div>

    <div class="testimo-container">
        <div class="testimo-left-container">
            <div class="testimo-images-container">
                <div class="testimo-images testimo_img_first">
                    <div class="img img_1">
                        <img src="../../../assets/images/5.jpg" alt="">
                    </div>
                    
                    <div class="img img_2">
                        <img src="../../../assets/images/5.jpg" alt="">
                    </div>
                
                    <div class="img img_3">
                        <img src="../../../assets/images/5.jpg" alt="">
                    </div>

                    <img src="" alt="">
                </div>
                <div class="testimo-images testimo_img_middle">
                    <div class="img img_big">
                        <img src="../../../assets/images/5.jpg" alt="">
                    </div>
                </div>
                <div class="testimo-images testimo_img_last">
                    <div class="img img_4">
                        <img src="../../../assets/images/5.jpg" alt="">
                    </div>
                    
                    <div class="img img_5">
                        <img src="../../../assets/images/5.jpg" alt="">
                    </div>
                
                    <div class="img img_6">
                        <img src="../../../assets/images/5.jpg" alt="">
                    </div>

                    <img src="" alt="">
                </div>
            </div>
        </div> 
    </div>
</section>    
