
/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');




/* fonts */

$font-family: "Poppins" sans-serif;
$font-weigth: 300;
$font-size: 16px;

/* colors */

$primary-color: #27A501;
$secondary-color: #FFC70D;
$color-c99b00: #C99B00;
$color-dba900: #DBA900;
$color-ad8603: #AD8603;
$light-white: #DDDDDD;
$color-696969: #696969;
$color-868585: #868585;
$color-208303: #208303;
$color-0f81a3: #0F81A3;
$light-dark: #2C2C2C;
$color-ffffff: #FFFFFF;
$color-27a501: #27A501;
