/** 
**  variables **
***/

@import "../../../assets/fonts/variable";

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
p,
h1,h2,h3,h4,h5,h6{
    font-family: $font-family !important;
}
.mat{
    background-color: $secondary-dark;
}

.mat-sec{
    color: $secondary-dark;
}

.mat-pri{
    background: $primary-color;
}
.mat-pri-b{
    color: #208303;
}

.mat-sec-b{
    background: #DBA900;
}

span.dot{
    font-size: 30px;
    font-weight: 500;
}

section.successful{
    width: 100%;
    height: 100vh;


    div.bannar-container{
        width: 100%;
        padding: 2rem 0;
        background-color: #e9f3e6;
        position: relative;
        margin-bottom: 2rem;

        div.container{
            width: 90%;
            margin: 0 auto;
            
            div.ticket-bannar{
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: 1fr;

                div.banner-ticket-content{
                    
                    h3{
                        font-size: 25px;
                        font-weight: 600;
                        color: #48b170;
                        line-height: 1;
                        margin-bottom: 0;
                        padding-bottom: .2rem;
                    }

                    p.bannar-para{
                        font-size: 15px;
                        font-weight: 400;

                        span.agency-name{
                            font-weight: bold;
                            color: $banner-agency-name;
                        }
                    }
                }

                div.bannar-agency-logo{

                button.successful{
                        background: #48b170;
                        color: #fff;
                        border: none;
                        outline: none;
                        border-radius: .3rem;
                        padding: .3rem .8rem;

                        mat-icon{
                            vertical-align: middle;
                        }
                    }
                }
            }

        }
    }

    div.ticket-container{
        width: 100%;
        height: auto;

        div.container{
            width: 90%;
            margin: 0 auto;

            div.ticket-counter{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: .2rem 0;
                margin-bottom: 1rem;

                span{
                    font-size: 13px;
                }

                p{
                    
                    span.total-ticket{
                        color: #b79522;
                        font-weight: 700;
                        margin-left: 1rem;
                        font-size: 20px;
                    }
                }
            }

            div.suc-ticket-container{
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;

                div.ticket-container{
                    width: 300px;
                    height: auto;
                    border-radius: .7rem;
                    background-color: #f7f3e5;
                    border: 1px dashed #DBA900;
                    margin-bottom: 1rem;

                    &:not(:last-child){
                        margin-right: 1rem;
                    }

                    div.ticket{

                        div.ticket-header{
                            width: 100%;
                            background-image: linear-gradient(to right,#c61618, #b01315 );
                            border-top-left-radius: .7rem;
                            border-top-right-radius: .7rem;
                            color: white;
    
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: .2rem .8rem;
                            position: relative;
                            overflow: visible;
    
                            &::after{
                                content: '';
                                display: block;
                                background-color: #c61618;
                                width: 20px;
                                height: 15px;
                                top: 70%;
                                left: 20%;
                                position: absolute;
                                transform: skew(45deg);
                            }
    
                            h4.ticket-title{
                                text-transform: uppercase;
                                font-weight: 500;
                                padding: 0;
                                margin: 0;
                            }
                        }
    
                        div.ticket-body{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            padding: .4rem .8rem;
                            div.details{
                                
                                div.name{
                                    margin-bottom: .3rem;
                                    display: flex;
                                    flex-direction: column;
                                    font-size: 13px;
    
                                    span.info{
                                        
                                        mat-icon{
                                            color:#DBA900;
                                            font-size: 13px;
                                        }
                                        
                                        span{
                                            color:#DBA900;
                                            font-size: 13px;
                                        }
                                    }
    
                                    span.bus-type{
                                        width: 50%;
                                        color: #fff;
                                        padding: 0 .3rem;
                                        border-radius: .2rem;
                                        background-color:#b79522;
                                        mat-icon{
                                            margin-left: 1rem;
                                            text-align: center;
                                            padding-top: .3rem;
                                            vertical-align: middle;
                                            font-size: 12px;
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen  and (max-width: 550px){
    section.successful{
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;

        div.ticket-container{
            width: 100%;
            height: auto;

            div.ticket-container{
                width: 100%;

                div.container{
                    width: 100%;

                    div.suc-ticket-container{
                        width: 100%;
                        display: flex;
                        flex-direction:column;
                        justify-content: center;
                        align-items: center;

                        div.ticket-container{
                            width: 100%;
                            &:not(:last-child){
                                margin-left: 0rem;
                            }
                        }
                    }
                }
            }
        }
    }
}