<section class="successful">
    <div class="bannar-container">
        <div class="container">
            <div class="ticket-bannar">
                <div class="banner-ticket-content">
                    <h3>Payment Successful!</h3>
                    <p class="bannar-para">Thanks! Your payment was successfully processed</p>
                </div>
                <div class="bannar-agency-logo">
                    <button class="successful">
                        Create Account
                        <mat-icon>arrow_right</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="ticket-container">
        <div class="container">
            <div class="suc-ticket-container">
                <div class= "ticket">
                    <div class="ticket-header">
                        <h4 class="ticket-title">Bus Ticket</h4>
                        <span class="from-to">Douala-Yaounde</span>
                    </div>

                    <div class="ticket-body">
                        <div class="details">
                            <div class="name">
                                <span class="info">
                                    <mat-icon>people</mat-icon>
                                    <span>Full Name</span>
                                </span>
                                <span class="name">Glee Albert M</span>
                            </div>
                            <div class="name">
                                <span class="info">
                                    <mat-icon>phone</mat-icon>
                                    <span class="name">Tel N<sup>o</sup></span>
                                </span>
                                <span>+237683408264</span>
                            </div>
                            
                            <div class="name">
                                <span class="info">
                                    <mat-icon>people</mat-icon>
                                    <span>Ticket Price</span>
                                </span>
                                <span class="name">Glee Albert M</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
