
<div class="landing-page">

    
    <header>
        <div class="hero-section container">
        <div class="container">
            <div class="row">
            <div class="col-md-8">
                <h3 class="hero-sub-title">Buy your ticket in clicks</h3>
                <h1 class="hero-title">Buy you ticket now <br> on <span class="secondary-color-title">Online ticket</span> </h1>
                <p class="hero-para">Get your ticket booked in simples clicks. Thanks to OBT</p>

                <div class="hero-btns">
                <button class="sec-btn mr-3" mat-button>
                    
                    View list</button>
                <button class="pri-btn" mat-button>Book now</button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="head">
                <div class="btn-container d-flex justify-content-between align-items-center">
                    <button class="show-btn " mat-button>
                    <mat-icon>access_time</mat-icon>
                    Show ticket</button>
                    <button class="fast-btn" mat-button>
                    <mat-icon>flash_on</mat-icon>
                    Fast booking</button>
                </div>
                <form action="" class="mx-auto">
                    <div class="locations d-flex align-items-center justify-content-between">
                    <div class="from ml-2">
                        <label for="from" class="mb-1">From</label>
                        <fieldset class="d-flex justify-content-center align-items-center">
                            <mat-icon class="mat-sec">drive_eta</mat-icon>
                            <select name="locations" id="locations">
                            <option value="Douala">Douala</option>
                            <option value="Yaounde">Yaounde</option>
                            <option value="Bafoussam">Bafoussam</option>
                            <option value="Bamenda">Bamenda</option>
                            <option value="Limbe">Limbe</option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="to mr-2">
                        <label for="to" class="mb-1">To</label>
                        <fieldset class="d-flex align-items-center justify-content-center">
                            <mat-icon class="mat-sec">drive_eta</mat-icon>
                            <select name="locations" id="locations">
                            <option value="Douala">Douala</option>
                            <option value="Yaounde">Yaounde</option>
                            <option value="Bafoussam">Bafoussam</option>
                            <option value="Bamenda">Bamenda</option>
                            <option value="Limbe">Limbe</option>
                            </select>
                        </fieldset>
                    </div>
                    </div>
                    <div class="locations d-flex align-items-center justify-content-between">
                    <div class="from ml-2">
                        <label for="date" class="mb-1">Date</label>
                        <fieldset class="d-flex justify-content-center align-items-center">
                        <mat-icon class="mat-sec">calendar_today</mat-icon>
                            <input type="date" name="date" id="date" class="w-75 pl-0">
                        </fieldset>
                    </div>
                    <div class="to mr-2">
                        <label for="to" class="mb-1">Agencies</label>
                        <fieldset class="d-flex align-items-center justify-content-center">
                            <mat-icon class="mat-sec">people</mat-icon>
                            <select name="agency" id="locations">
                            <option value="General">General</option>
                            <option value="Boca">Boca</option>
                            <option value="Amour Mezam">Amour Mezam</option>
                            <option value="Vatican">Vatican</option>
                            <option value="Tressure">Tressure</option>
                            </select>
                        </fieldset>
                    </div>
                    </div>
                    <div class="locations d-flex align-items-center justify-content-between">
                    <div class="from ml-2">
                        <label for="date" class="mb-1">Bus type</label>
                        <fieldset class="d-flex justify-content-center align-items-center">
                        <!-- <mat-icon class="mat-sec">calenday_today</mat-icon> -->
                            <select name="type" id="locations">
                            <option value="classique">Classique</option>
                            <option value="vip">Vip</option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="to mr-2">
                        <button mat-button  class="mat-pri"> Next
                        <mat-icon>arrow_forward</mat-icon>
                        </button>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
    </header>

    <!--
    what is waiting for you
    -->

    <section class="card">
        <div class=" card-heading mb-5">
            <h2 class="card-heading-title">What is ready for  you</h2>
            <p class="card-para">We know your time is very precious and we respect that. Check out available trip we prepare for you!</p>
        </div>

        <div class="container">
            <div class="cards">
                <div class="col-card">
                    <div class="price-card ">
                        <div class="card-head d-flex align-items-center justify-content-between mb-3">
                            <div class="left">
                                <span>From</span>
                                <span>Douala</span>
                            </div>
                            <div class="mid d-flex justify-content-between align-items-center">
                                <mat-icon class="mat-sec-b">chevron_left</mat-icon>
                                <span class="time text-center mat-sec-b">
                                    <mat-icon>schedule</mat-icon>
                                    3H:45Min
                                </span>
                                <mat-icon class="mat-pri">chevron_right</mat-icon>
                            </div>
                            <div class="right">
                                <span>To</span>
                                <span>Yaounde</span>
                            </div>
                        </div>

                        <div class="seats d-flex justify-content-between align-items-center fs-6 pl-3 pr-3">
                            <p>Available Seats: <span class="mat-sec">12 Seats</span></p>
                            <p>Departure in: <span class="mat-pri-b">30 Min</span></p>
                        </div>

                        <div class="card-body">
                            <div class="card-body-content">

                                <span class="agency-name">Buca Voyages</span>
                                <span class="depart">Departure Time</span>
                                <span class="time">04:30AM</span>
                            </div>
                            <div class="bus-type">
                                <span>Bus Type:<span class="bus-cat">V.I.P 0</span></span>
                                <span class="price">8,000.00 <span>XAF</span></span>
                            </div>
                        </div>


                        <div class="card-foot mat-sec-b  d-flex justify-content-between align-items-center">
                            <div class="bus-details">
                                <p> Bus Plate N<sup>o</sup>:</p>
                                <span>LT035E</span>
                            </div>
                            <span class="agency-logo">Logo</span>
                            <div class="bus-details">
                                <p>Bus Status:</p>
                                <span>Loading</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-card">
                    <div class="price-card">
                        <div class="card-head d-flex align-items-center justify-content-between mb-3">
                            <div class="left">
                                <span>From</span>
                                <span>Douala</span>
                            </div>
                            <div class="mid d-flex justify-content-between align-items-center">
                                <mat-icon class="mat-sec-b">chevron_left</mat-icon>
                                <span class="time text-center mat-sec-b">
                                    <mat-icon>schedule</mat-icon>
                                    3H:45Min
                                </span>
                                <mat-icon class="mat-pri">chevron_right</mat-icon>
                            </div>
                            <div class="right">
                                <span>To</span>
                                <span>Yaounde</span>
                            </div>
                        </div>

                        <div class="seats d-flex justify-content-between align-items-center fs-6 pl-3 pr-3">
                            <p>Available Seats: <span class="mat-sec">12 Seats</span></p>
                            <p>Departure in: <span class="mat-pri-b">30 Min</span></p>
                        </div>

                        <div class="card-body">
                            <div class="card-body-content">
                                <span class="agency-name">Buca Voyages</span>
                                <span class="depart">Departure Time</span>
                                <span class="time">04:30AM</span>
                                
                            </div>
                            <div class="bus-type">
                                <span>Bus Type:<span class="bus-cat">Classique</span></span>
                                <span class="price">8,000.00 <span>XAF</span></span>
                            </div>
                        </div>


                        <div class="card-foot mat-pri d-flex justify-content-between align-items-center">
                            <div class="bus-details">
                                <p> Bus Plate N<sup>o</sup>:</p>
                                <span>LT035E</span>
                            </div>
                            <span class="agency-logo">Logo</span>
                            <div class="bus-details">
                                <p>Bus Status:</p>
                                <span>Loading</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-card">
                    <div class="price-card">
                        <div class="card-head d-flex align-items-center justify-content-between mb-3">
                            <div class="left">
                                <span>From</span>
                                <span>Douala</span>
                            </div>
                            <div class="mid d-flex justify-content-between align-items-center">
                                <mat-icon class="mat-sec-b">chevron_left</mat-icon>
                                <span class="time text-center mat-sec-b">
                                    <mat-icon>schedule</mat-icon>
                                    3H:45Min
                                </span>
                                <mat-icon class="mat-pri">chevron_right</mat-icon>
                            </div>
                            <div class="right">
                                <span>To</span>
                                <span>Yaounde</span>
                            </div>
                        </div>

                        <div class="seats d-flex justify-content-between align-items-center fs-6 pl-3 pr-3">
                            <p>Available Seats: <span class="mat-sec">12 Seats</span></p>
                            <p>Departure in: <span class="mat-pri-b">30 Min</span></p>
                        </div>

                        <div class="card-body">
                            <div class="card-body-content">
                                <span class="agency-name">Buca Voyages</span>
                                <span class="depart">Departure Time</span>
                                <span class="time">04:30AM</span>
                            </div>
                            <div class="bus-type">
                                <span>Bus Type:<span class="bus-cat">V.I.P 0</span></span>
                                <span class="price">8,000.00 <span>XAF</span></span>
                            </div>
                        </div>


                        <div class="card-foot mat-sec-b d-flex justify-content-between align-items-center">
                            <div class="bus-details">
                                <p> Bus Plate N<sup>o</sup>:</p>
                                <span>LT035E</span>
                            </div>
                            <span class="agency-logo">Logo</span>
                            <div class="bus-details">
                                <p>Bus Status:</p>
                                <span>Loading</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    features
    -->

    <section class="feature-section">
        <div class=" feature-heading mb-5">
            <h2 class="feature-heading-title">Our key features</h2>
            <p class="feature-para">Don't be in a hurry. Please kindly go through our packed features</p>
        </div>

        <div class="container">

            <div class="mb-3 row-container">
                <div class=" feature-container">
                    <div class="feature-content">
                        <div class="feature-title d-flex justify-content-center">
                            
                            <h2 class="mr-auto">Your ticket on the go.</h2>
                            
                            <mat-icon class="mat-icon mr-4 mat-feature">featured_play_list</mat-icon>
                        </div>
                        <div class="feature-body">
                            <p class="feature-para">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quam exercitationem doloremque vitae soluta quo, consectetur temporibus impedit asperiores nemo modi aperiam commodi, repellat illum nesciunt, amet atque! Doloremque, culpa?
                            </p>

                        </div>
                    </div>
                </div>
                <div class=" feature-container">
                    <div class="feature-content">
                        <div class="feature-title d-flex justify-content-center">
                            
                            <h2 class="mr-auto">Save your time.</h2>
                            <mat-icon class="mat-icon mr-4 mat-feature">schedule</mat-icon>
                        </div>
                        <div class="feature-body">
                            <p class="feature-para">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quam exercitationem doloremque vitae soluta quo, consectetur temporibus impedit asperiores nemo modi aperiam commodi, repellat illum nesciunt, amet atque! Doloremque, culpa?
                            </p>

                        </div>
                    </div>
                </div>
                <div class=" feature-container">
                    <div class="feature-content">
                        <div class="feature-title d-flex justify-content-center">
                            
                            <h2 class="mr-auto">No more queues.</h2>
                            <mat-icon class="mat-icon mr-4 mat-feature">people</mat-icon>
                        </div>
                        <div class="feature-body">
                            <p class="feature-para">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quam exercitationem doloremque vitae soluta quo, consectetur temporibus impedit asperiores nemo modi aperiam commodi, repellat illum nesciunt, amet atque! Doloremque, culpa?
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-container">
                <div class=" feature-container">
                    <div class="feature-content">
                        <div class="feature-title d-flex justify-content-center">
                            
                            <h2 class="mr-auto">Hassel Free.</h2>
                            
                            <mat-icon class="mat-icon mr-4 mat-feature">group_add</mat-icon>
                        </div>
                        <div class="feature-body">
                            <p class="feature-para">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quam exercitationem doloremque vitae soluta quo, consectetur temporibus impedit asperiores nemo modi aperiam commodi, repellat illum nesciunt, amet atque! Doloremque, culpa?
                            </p>

                        </div>
                    </div>
                </div>
                <div class=" feature-container">
                    <div class="feature-content">
                        <div class="feature-title d-flex justify-content-center">
                            
                            <h2 class="mr-auto">It is a matter of time.</h2>
                            <mat-icon class="mat-icon mr-4 mat-feature">flash_on</mat-icon>
                        </div>
                        <div class="feature-body">
                            <p class="feature-para">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quam exercitationem doloremque vitae soluta quo, consectetur temporibus impedit asperiores nemo modi aperiam commodi, repellat illum nesciunt, amet atque! Doloremque, culpa?
                            </p>

                        </div>
                    </div>
                </div>
                <div class=" feature-container">
                    <div class="feature-content ">
                        <div class="feature-title d-flex justify-content-center">
                            
                            <h2 class="mr-auto">Secure payment</h2>
                            <mat-icon class="mat-icon mr-4 mat-feature">attach_money</mat-icon>
                        </div>
                        <div class="feature-body">
                            <p class="feature-para">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quam exercitationem doloremque vitae soluta quo, consectetur temporibus impedit asperiores nemo modi aperiam commodi, repellat illum nesciunt, amet atque! Doloremque, culpa?
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- 
    discount
    -->

    <section class="discount-section ">
        <div class=" discount-heading mb-5">
            <h2 class="discount-heading-title">Get discounts with United Express</h2>
            <p class="discount-para">We are giving free trip to all our customer <br> who have completed 10 trips.</p>
            <button mat-button class="mat-sec-b discount-btn text-light">See Deals</button>
        </div>
    </section>   



    <!--booking -->
    <section class="card-section">
        <div class=" card-heading mb-5">
            <h2 class="card-heading-title">Boarding Now</h2>
            <div class="card-content">
                <p class="card-para">Feel to come to us do you have any queries. Our team is always ready to help you.</p>
                <div class="dropdown">
                    <button mat-button class="mat-sec-b dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Eelect Agency
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">United Express</a></li>
                        <li><a class="dropdown-item" href="#">General Express</a></li>
                        <li><a class="dropdown-item" href="#">Finex Express</a></li>
                        <li><a class="dropdown-item" href="#">Buca Express</a></li>
                    </ul>
                    </div>
            </div>
        </div>

        <div class="container">
            <div class="cards ">
                <div class="col-card">
                    <div class="price-card">
                        <div class="card-head d-flex align-items-center justify-content-between mb-3">
                            <div class="left">
                                <span>From</span>
                                <span>Douala</span>
                            </div>
                            <div class="mid d-flex justify-content-between align-items-center">
                                <mat-icon class="mat-sec-b">chevron_left</mat-icon>
                                <span class="time text-center mat-sec-b">
                                    <mat-icon>schedule</mat-icon>
                                    3H:45Min
                                </span>
                                <mat-icon class="mat-pri">chevron_right</mat-icon>
                            </div>
                            <div class="right">
                                <span>To</span>
                                <span>Yaounde</span>
                            </div>
                        </div>

                        <div class="seats d-flex justify-content-between align-items-center fs-6 pl-3 pr-3">
                            <p>Available Seats: <span class="mat-sec">12 Seats</span></p>
                            <p>Departure in: <span class="mat-pri-b">30 Min</span></p>
                        </div>

                        <div class="card-body">
                            <div class="card-body-content">

                                <span class="agency-name">Buca Voyages</span>
                                <span class="depart">Departure Time</span>
                                <span class="time">04:30AM</span>
                            </div>
                            <div class="bus-type">
                                <span>Bus Type:<span class="bus-cat">V.I.P 0</span></span>
                                <span class="price">8,000.00 <span>XAF</span></span>
                            </div>
                        </div>


                        <div class="card-foot mat-sec-b  d-flex justify-content-between align-items-center">
                            <div class="bus-details">
                                <p> Bus Plate N<sup>o</sup>:</p>
                                <span>LT035E</span>
                            </div>
                            <span class="agency-logo">Logo</span>
                            <div class="bus-details">
                                <p>Bus Status:</p>
                                <span>Loading</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-card">
                    <div class="price-card">
                        <div class="card-head d-flex align-items-center justify-content-between mb-3">
                            <div class="left">
                                <span>From</span>
                                <span>Douala</span>
                            </div>
                            <div class="mid d-flex justify-content-between align-items-center">
                                <mat-icon class="mat-sec-b">chevron_left</mat-icon>
                                <span class="time text-center mat-sec-b">
                                    <mat-icon>schedule</mat-icon>
                                    3H:45Min
                                </span>
                                <mat-icon class="mat-pri">chevron_right</mat-icon>
                            </div>
                            <div class="right">
                                <span>To</span>
                                <span>Yaounde</span>
                            </div>
                        </div>

                        <div class="seats d-flex justify-content-between align-items-center fs-6 pl-3 pr-3">
                            <p>Available Seats: <span class="mat-sec">12 Seats</span></p>
                            <p>Departure in: <span class="mat-pri-b">30 Min</span></p>
                        </div>

                        <div class="card-body">
                            <div class="card-body-content">
                                <span class="agency-name">Buca Voyages</span>
                                <span class="depart">Departure Time</span>
                                <span class="time">04:30AM</span>
                                
                            </div>
                            <div class="bus-type">
                                <span>Bus Type:<span class="bus-cat">Classique</span></span>
                                <span class="price">8,000.00 <span>XAF</span></span>
                            </div>
                        </div>


                        <div class="card-foot mat-pri d-flex justify-content-between align-items-center">
                            <div class="bus-details">
                                <p> Bus Plate N<sup>o</sup>:</p>
                                <span>LT035E</span>
                            </div>
                            <span class="agency-logo">Logo</span>
                            <div class="bus-details">
                                <p>Bus Status:</p>
                                <span>Loading</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-card">
                    <div class="price-card">
                        <div class="card-head d-flex align-items-center justify-content-between mb-3">
                            <div class="left">
                                <span>From</span>
                                <span>Douala</span>
                            </div>
                            <div class="mid d-flex justify-content-between align-items-center">
                                <mat-icon class="mat-sec-b">chevron_left</mat-icon>
                                <span class="time text-center mat-sec-b">
                                    <mat-icon>schedule</mat-icon>
                                    3H:45Min
                                </span>
                                <mat-icon class="mat-pri">chevron_right</mat-icon>
                            </div>
                            <div class="right">
                                <span>To</span>
                                <span>Yaounde</span>
                            </div>
                        </div>

                        <div class="seats d-flex justify-content-between align-items-center fs-6 pl-3 pr-3">
                            <p>Available Seats: <span class="mat-sec">12 Seats</span></p>
                            <p>Departure in: <span class="mat-pri-b">30 Min</span></p>
                        </div>

                        <div class="card-body">
                            <div class="card-body-content">
                                <span class="agency-name">Buca Voyages</span>
                                <span class="depart">Departure Time</span>
                                <span class="time">04:30AM</span>
                            </div>
                            <div class="bus-type">
                                <span>Bus Type:<span class="bus-cat">V.I.P 0</span></span>
                                <span class="price">8,000.00 <span>XAF</span></span>
                            </div>
                        </div>


                        <div class="card-foot mat-sec-b d-flex justify-content-between align-items-center">
                            <div class="bus-details">
                                <p> Bus Plate N<sup>o</sup>:</p>
                                <span>LT035E</span>
                            </div>
                            <span class="agency-logo">Logo</span>
                            <div class="bus-details">
                                <p>Bus Status:</p>
                                <span>Loading</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    

    <!---
    testimo
    -->

    <section class="testimo-section ">
    <div class=" testimo-heading mb-5">
        <h2 class="testimo-heading-title">Testimonials</h2>
        <p class="testimo-para">Feel free to come to us if you have any queries. <br> Our team is always ready to help out.</p>
    </div>

    <div class="testimo-container">
        <div class="testimo-left-container">
            <div class="testimo-images-container">
                <div class="testimo-images testimo_img_first">
                    <div class="img img_1">
                        <img src="../../../assets/images/5.jpg" alt="">
                    </div>
                    
                    <div class="img img_2">
                        <img src="../../../assets/images/5.jpg" alt="">
                    </div>
                
                    <div class="img img_3">
                        <img src="../../../assets/images/5.jpg" alt="">
                    </div>

                    <img src="" alt="">
                </div>
                <div class="testimo-images testimo_img_middle">
                    <div class="img img_big">
                        <img src="../../../assets/images/5.jpg" alt="">
                    </div>
                </div>
                <div class="testimo-images testimo_img_last">
                    <div class="img img_4">
                        <img src="../../../assets/images/5.jpg" alt="">
                    </div>
                    
                    <div class="img img_5">
                        <img src="../../../assets/images/5.jpg" alt="">
                    </div>
                
                    <div class="img img_6">
                        <img src="../../../assets/images/5.jpg" alt="">
                    </div>

                    <img src="" alt="">
                </div>
            </div>
        </div> 
    </div>
    </section>    

    <!--- 
    contact
    -->

    <section class="contact-section ">
    <div class=" contact-heading mb-5 ">
        <h2 class="contact-heading-title">How to get to us.</h2>
        <p class="contact-para">Feel free to come to us if you have any queries. <br> Our team is always ready to help out.</p>
    </div>

    <div class="contact-container ">
        <div class="contact">
            <div class="contact-head">
                <h2 class="contact-heading">Contact us.</h2>
                <p class="contact-para">We are located at bonamoussadi, carrefour jc Lorda barking 2<sup>nd</sup> floor</p>
                <span class=" contact-icon phone">
                    <mat-icon>phone</mat-icon>
                    <a href="+237657959520">+237657959520</a>
                </span>
                <span class=" contact-icon email">
                    <mat-icon>email</mat-icon>
                    <a href="maghaalbert34@gmail.com">maghaalbert34@gmail.com</a>
                </span>
            </div>

            <form  class="contact-form" [formGroup]="contactForm">
                <fieldset class="name">
                    <input type="text" name="firstName" formControlName="firstName" id="firstname" placeholder="First Name">
                    <input type="text" name="lastName" formControlName="lastName" id="lastname" placeholder="Last Name">
                </fieldset>

                <fieldset class="contacts">
                    <input type="tel" name="phone" formControlName="phone" id="phone" placeholder="Phone">
                    <input type="email" name="email" formControlName="email" id="email" placeholder="Email">
                </fieldset>

                <textarea name="message" id="message" formControlName="message" cols="30" rows="7"></textarea>
                <span class="submit-form" mat-button>
                    <input type="submit" (click)="sendMessage()" value="Send">
                    <mat-icon>send</mat-icon>
                </span>
            </form>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15919.412841243273!2d9.695097!3d4.05035!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc3a597dc31837669!2sUnited%20Express!5e0!3m2!1sen!2scm!4v1635483573020!5m2!1sen!2scm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    </section>    


</div>
