<section class="card-section">
    <div class=" card-heading mb-5">
        <h2 class="card-heading-title">Boarding Now</h2>
        <div class="card-content">
            <p class="card-para">Feel to come to us do you have any queries. Our team is always ready to help you.</p>
            <div class="dropdown">
                <button mat-button class="mat-sec-b dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Eelect Agency
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">United Express</a></li>
                  <li><a class="dropdown-item" href="#">General Express</a></li>
                  <li><a class="dropdown-item" href="#">Finex Express</a></li>
                  <li><a class="dropdown-item" href="#">Buca Express</a></li>
                </ul>
              </div>
        </div>
    </div>

    <div class="container">
        <div class="row cards pb-2">
            <div class="col-md-4">
                <div class="price-card">
                    <div class="card-head d-flex align-items-center justify-content-between mb-3">
                        <div class="left">
                            <span>From</span>
                            <span>Douala</span>
                        </div>
                        <div class="mid d-flex justify-content-between align-items-center">
                            <mat-icon class="mat-sec-b">chevron_left</mat-icon>
                            <span class="time text-center mat-sec-b">
                                <mat-icon>schedule</mat-icon>
                                3H:45Min
                            </span>
                            <mat-icon class="mat-pri">chevron_right</mat-icon>
                        </div>
                        <div class="right">
                            <span>To</span>
                            <span>Yaounde</span>
                        </div>
                    </div>

                    <div class="seats d-flex justify-content-between align-items-center fs-6 pl-3 pr-3">
                        <p>Available Seats: <span class="mat-sec">12 Seats</span></p>
                        <p>Departure in: <span class="mat-pri-b">30 Min</span></p>
                    </div>

                    <div class="card-body">
                        <div class="card-body-content">

                            <span class="agency-name">Buca Voyages</span>
                            <span class="depart">Departure Time</span>
                            <span class="time">04:30AM</span>
                        </div>
                        <div class="bus-type">
                            <span>Bus Type:<span class="bus-cat">V.I.P 0</span></span>
                            <span class="price">8,000.00 <span>XAF</span></span>
                        </div>
                    </div>


                    <div class="card-foot mat-sec-b  d-flex justify-content-between align-items-center">
                        <div class="bus-details">
                            <p> Bus Plate N<sup>o</sup>:</p>
                            <span>LT035E</span>
                        </div>
                        <span class="agency-logo">Logo</span>
                        <div class="bus-details">
                            <p>Bus Status:</p>
                            <span>Loading</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price-card">
                    <div class="card-head d-flex align-items-center justify-content-between mb-3">
                        <div class="left">
                            <span>From</span>
                            <span>Douala</span>
                        </div>
                        <div class="mid d-flex justify-content-between align-items-center">
                            <mat-icon class="mat-sec-b">chevron_left</mat-icon>
                            <span class="time text-center mat-sec-b">
                                <mat-icon>schedule</mat-icon>
                                3H:45Min
                            </span>
                            <mat-icon class="mat-pri">chevron_right</mat-icon>
                        </div>
                        <div class="right">
                            <span>To</span>
                            <span>Yaounde</span>
                        </div>
                    </div>

                    <div class="seats d-flex justify-content-between align-items-center fs-6 pl-3 pr-3">
                        <p>Available Seats: <span class="mat-sec">12 Seats</span></p>
                        <p>Departure in: <span class="mat-pri-b">30 Min</span></p>
                    </div>

                    <div class="card-body">
                        <div class="card-body-content">
                            <span class="agency-name">Buca Voyages</span>
                            <span class="depart">Departure Time</span>
                            <span class="time">04:30AM</span>
                            
                        </div>
                        <div class="bus-type">
                            <span>Bus Type:<span class="bus-cat">Classique</span></span>
                            <span class="price">8,000.00 <span>XAF</span></span>
                        </div>
                    </div>


                    <div class="card-foot mat-pri d-flex justify-content-between align-items-center">
                        <div class="bus-details">
                            <p> Bus Plate N<sup>o</sup>:</p>
                            <span>LT035E</span>
                        </div>
                        <span class="agency-logo">Logo</span>
                        <div class="bus-details">
                            <p>Bus Status:</p>
                            <span>Loading</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price-card">
                    <div class="card-head d-flex align-items-center justify-content-between mb-3">
                        <div class="left">
                            <span>From</span>
                            <span>Douala</span>
                        </div>
                        <div class="mid d-flex justify-content-between align-items-center">
                            <mat-icon class="mat-sec-b">chevron_left</mat-icon>
                            <span class="time text-center mat-sec-b">
                                <mat-icon>schedule</mat-icon>
                                3H:45Min
                            </span>
                            <mat-icon class="mat-pri">chevron_right</mat-icon>
                        </div>
                        <div class="right">
                            <span>To</span>
                            <span>Yaounde</span>
                        </div>
                    </div>

                    <div class="seats d-flex justify-content-between align-items-center fs-6 pl-3 pr-3">
                        <p>Available Seats: <span class="mat-sec">12 Seats</span></p>
                        <p>Departure in: <span class="mat-pri-b">30 Min</span></p>
                    </div>

                    <div class="card-body">
                        <div class="card-body-content">
                            <span class="agency-name">Buca Voyages</span>
                            <span class="depart">Departure Time</span>
                            <span class="time">04:30AM</span>
                        </div>
                        <div class="bus-type">
                            <span>Bus Type:<span class="bus-cat">V.I.P 0</span></span>
                            <span class="price">8,000.00 <span>XAF</span></span>
                        </div>
                    </div>


                    <div class="card-foot mat-sec-b d-flex justify-content-between align-items-center">
                        <div class="bus-details">
                            <p> Bus Plate N<sup>o</sup>:</p>
                            <span>LT035E</span>
                        </div>
                        <span class="agency-logo">Logo</span>
                        <div class="bus-details">
                            <p>Bus Status:</p>
                            <span>Loading</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>    