<section class="feature-section">
    <div class=" feature-heading mb-5">
        <h2 class="feature-heading-title">Our key features</h2>
        <p class="feature-para">Don't be in a hurry. Please kindly go through our packed features</p>
    </div>

    <div class="container">
        <div class="mb-3 row-container">
            <div class=" feature-container">
                <div class="feature-content">
                    <div class="feature-title d-flex justify-content-center">
                        
                        <h2 class="mr-auto">Your ticket on the go.</h2>
                        
                        <mat-icon class="mat-icon mr-4 mat-feature">featured_play_list</mat-icon>
                    </div>
                    <div class="feature-body">
                        <p class="feature-para">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quam exercitationem doloremque vitae soluta quo, consectetur temporibus impedit asperiores nemo modi aperiam commodi, repellat illum nesciunt, amet atque! Doloremque, culpa?
                        </p>

                    </div>
                </div>
            </div>
            <div class=" feature-container">
                <div class="feature-content">
                    <div class="feature-title d-flex justify-content-center">
                        
                        <h2 class="mr-auto">Save your time.</h2>
                        <mat-icon class="mat-icon mr-4 mat-feature">schedule</mat-icon>
                    </div>
                    <div class="feature-body">
                        <p class="feature-para">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quam exercitationem doloremque vitae soluta quo, consectetur temporibus impedit asperiores nemo modi aperiam commodi, repellat illum nesciunt, amet atque! Doloremque, culpa?
                        </p>

                    </div>
                </div>
            </div>
            <div class=" feature-container">
                <div class="feature-content">
                    <div class="feature-title d-flex justify-content-center">
                        
                        <h2 class="mr-auto">No more queues.</h2>
                        <mat-icon class="mat-icon mr-4 mat-feature">people</mat-icon>
                    </div>
                    <div class="feature-body">
                        <p class="feature-para">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quam exercitationem doloremque vitae soluta quo, consectetur temporibus impedit asperiores nemo modi aperiam commodi, repellat illum nesciunt, amet atque! Doloremque, culpa?
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-container">
            <div class=" feature-container">
                <div class="feature-content">
                    <div class="feature-title d-flex justify-content-center">
                        
                        <h2 class="mr-auto">Hassel Free.</h2>
                        
                        <mat-icon class="mat-icon mr-4 mat-feature">group_add</mat-icon>
                    </div>
                    <div class="feature-body">
                        <p class="feature-para">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quam exercitationem doloremque vitae soluta quo, consectetur temporibus impedit asperiores nemo modi aperiam commodi, repellat illum nesciunt, amet atque! Doloremque, culpa?
                        </p>

                    </div>
                </div>
            </div>
            <div class=" feature-container">
                <div class="feature-content">
                    <div class="feature-title d-flex justify-content-center">
                        
                        <h2 class="mr-auto">It is a matter of time.</h2>
                        <mat-icon class="mat-icon mr-4 mat-feature">flash_on</mat-icon>
                    </div>
                    <div class="feature-body">
                        <p class="feature-para">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quam exercitationem doloremque vitae soluta quo, consectetur temporibus impedit asperiores nemo modi aperiam commodi, repellat illum nesciunt, amet atque! Doloremque, culpa?
                        </p>

                    </div>
                </div>
            </div>
            <div class=" feature-container">
                <div class="feature-content ">
                    <div class="feature-title d-flex justify-content-center">
                        
                        <h2 class="mr-auto">Secure payment</h2>
                        <mat-icon class="mat-icon mr-4 mat-feature">attach_money</mat-icon>
                    </div>
                    <div class="feature-body">
                        <p class="feature-para">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quam exercitationem doloremque vitae soluta quo, consectetur temporibus impedit asperiores nemo modi aperiam commodi, repellat illum nesciunt, amet atque! Doloremque, culpa?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

