<footer>
    <div class="container">
        <div class="back-to-top">
            <a href="#top" class="back" >

                <mat-icon class="mat-sec">arrow_upward</mat-icon>
            </a>
        </div>

        <div class="copyright">
            <span>Made by Glee Albert all right reserved &copy; 2021</span>
        </div>

        <div class="social-links">
            <a href="" >
                <mat-icon class="mat-sec">facebook</mat-icon>
            </a>

            <a href="">
                <mat-icon class="mat-sec">whatsapp</mat-icon>
            </a>
                
            <a href="gleealbert307@gmail.com">
                <mat-icon class="mat-sec">email</mat-icon>
            </a>    
    
            <a href="683408264">
                <mat-icon class="mat-sec">phone</mat-icon>
            </a>    
    
            
        </div>
    </div>
</footer>