
<section class="register-container">
    <div class="form-container">
        <div class="form-img">
            <img src="../../../assets/images/undraw_Travelers_re_y25a__1_-removebg-preview.png" alt="" srcset="">
        </div>
        <form [formGroup]="myForm">
            <div class="form-heading">
                <h3 class="signup-title">Please fill the form below.</h3>
                <p class="signup-para">Use our service and get 10% discount.</p>
            </div>
    
            <fieldset class="pass-details">
                <input type="text" name="name" formControlName="name" id="name" autocomplete="off" placeholder="enter name">
                
                <input type="phone" name="phone" formControlName="phone" id="phone" autocomplete="off"  placeholder="enter phone">
               
            </fieldset>
            
            <input type="email" name="email" formControlName="email" id="email" autocomplete="off"  placeholder="enter email">
            
            <input type="password" name="password" formControlName="password" id="password" autocomplete="off" placeholder="enter password">
            
            <span class="left">Already have an account? <a (click)="goToLogin()">Login</a></span>
            <input type="submit" (click)="register()" value="Submit" id="submit">
        
            <div style="text-align: center; font-size: bold;">{{success}}</div>
        </form>

    </div>

</section>


