<section class="ticket-section">
    <div class="bannar-container">
        <div class="container">
            <div class="ticket-bannar">
                <div class="banner-ticket-content">
                    <h3>Few steps more!</h3>
                    <p class="bannar-para">Thanks for choosing <span class="agency-name">Bocu Voyages</span>. Please fill the form below to complete your booking thanks!</p>
                </div>
                <div class="bannar-agency-logo">
                    <span class="agency-logo">Buca</span>
                </div>
            </div>
        </div>
    </div>

    <div class="ticket">
        <div class="container">
            <div class="ticket-form-container">
                <div class="price-card">
                    <div class="card-head d-flex align-items-center justify-content-between mb-3">
                        <div class="left">
                            <span>From</span>
                            <span>Douala</span>
                        </div>
                        <div class="mid d-flex justify-content-between align-items-center">
                            <mat-icon class="mat-sec-b">chevron_left</mat-icon>
                            <span class="time text-center mat-sec-b">
                                <mat-icon>schedule</mat-icon>
                                3H:45Min
                            </span>
                            <mat-icon class="mat-pri">chevron_right</mat-icon>
                        </div>
                        <div class="right">
                            <span>To</span>
                            <span>Yaounde</span>
                        </div>
                    </div>

                    <div class="seats d-flex justify-content-between align-items-center fs-6 pl-3 pr-3">
                        <p>Available Seats: <span class="mat-sec">12 Seats</span></p>
                        <p>Departure in: <span class="mat-pri-b">30 Min</span></p>
                    </div>

                    <div class="card-body">
                        <div class="card-body-content">

                            <span class="agency-name">Buca Voyages</span>
                            <span class="depart">Departure Time</span>
                            <span class="time">04:30AM</span>
                        </div>
                        <div class="bus-type">
                            <span>Bus Type:<span class="bus-cat">V.I.P 0</span></span>
                            <span class="price">8,000.00 <span>XAF</span></span>
                        </div>
                    </div>


                    <div class="card-foot mat-sec-b  d-flex justify-content-between align-items-center">
                        <div class="bus-details">
                            <p> Bus Plate N<sup>o</sup>:</p>
                            <span>LT035E</span>
                        </div>
                        <span class="agency-logo">Logo</span>
                        <div class="bus-details">
                            <p>Bus Status:</p>
                            <span>Loading</span>
                        </div>
                    </div>
                </div>

                <div class="ticket-form">
                    <form action="">
                        <fieldset class="head">
                            <span class="head-title">Fill this form to complete booking</span>
                            <label for="date">Please select a date
                                <div class="date-container">
                                    <mat-icon>today</mat-icon>
                                    <input type="date" name="date" id="date" required>
                                </div>
                            </label>
                        </fieldset><hr>

                        <div class="user-details-container">
                            <fieldset class="user-details">
                                <span class="user-name">
                                    <mat-icon class="mat-sec">person</mat-icon>
                                    <label for="passengername">Full Name</label>
                                </span>
                                <input type="text" name="passengername" id="passengename" placeholder="Glee Albert Ngah">
                            </fieldset>
                            <fieldset class="user-details">
                                <span class="user-name">
                                    <mat-icon class="mat-sec">indeterminate_check_box</mat-icon>
                                    <label for="passengernid">NID Card N<sup>o</sup></label>
                                </span>
                                <input type="number" name="passengernid" id="passengernid" placeholder="12345678888" required>
                            </fieldset>
                            <fieldset class="user-details">
                                <span class="user-name">
                                    <mat-icon class="mat-sec">phone</mat-icon>
                                    <label for="passengernumber">Tell N<sup>o</sup></label>
                                </span>
                                <input type="text" name="passengernumber" id="passengenumber" placeholder="+23768340800043" required>
                            </fieldset>
                            <fieldset class="user-details">
                                <span class="user-name">
                                    <mat-icon class="mat-sec">email</mat-icon>
                                    <label for="passengeremial">Email</label>
                                </span>
                                <input type="text" name="passengeremial" id="passengeremial" placeholder="maghagleebert44@gmail.com">
                            </fieldset>

                            <button class="add-btn mat" mat-button>
                                <mat-icon>add</mat-icon>
                                Add
                            </button>
                        </div>

                        <div class="payment-container">
                            <div class="payment-heading">
                                <h3 class="payment-title mat-sec">Please select a payment method</h3>
                            </div>
                            <hr>

                            <div class="payments">
                                <a href="">
                                    <img src="../../../assets/images/Payments-logo_visa-master.png" alt="" srcset="">
                                </a>
                                <a href="">
                                    <img src="../../../assets/images/Payments-logo_Orange.png" alt="" srcset="">
                                </a>
                                <a href="">
                                    <img src="../../../assets/images/Payments-logo_Paypal.png" alt="" srcset="">
                                </a>
                                <a href="">
                                    <img src="" alt="" srcset="">
                                </a>
                            </div>
                        </div>

                        <div class="privacy-container">
                            <div class="conditions">
                                <label for="acceptTerms">
                                    <input type="checkbox" name="acceptTerms" id="acceptTerms">
                                    Accept terms and conditions
                                </label>
                                
                                <label for="acceptPrivacy">
                                    <input type="checkbox" name="acceptPrivacy" id="acceptPrivacy">
                                    Accept privacy policies
                                </label>
                                
                            </div>

                            <div class="pay-now">
                                <div class="amount-container">
                                    <span class="total">Total:</span>
                                    <p><span class="amount">8,000.00</span> xaf</p>
                                </div>

                                <button class="pay-btn" mat-button>
                                    Pay Now
                                    <mat-icon>arrow_right</mat-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
