<nav class="navbar navbar-expand-lg">
  <div class="container-fluid navbar-container d-flex justify-content-between align-items-center">
    
    <a class="navbar-brand text-light" href="#">OnlineBus</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-light" aria-current="page" routerLink="['/']">
          <mat-icon class="mat-sec">home</mat-icon>
          Home<span class="mat-sec do">.</span></a>
        <a class="nav-link text-light" routerLink="['/ticket']">Book ticket</a>
        <a class="nav-link text-light" routerLink="/checkTicket">Check ticket</a>
      </div>
    </div>

    <a routerLink='/account'>Account</a>

  </div>
</nav>
