<nav class="navbar navbar-expand-lg">
  <div class="container-fluid navbar-container d-flex justify-content-between align-items-center">
    
    <a class="navbar-brand text-light" href="#">OnlineBus</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li>
          <mat-icon class="mat-sec">home</mat-icon>
          <a routerLink='home' class="nav-link text-light" aria-current="page" >
          Home<span class="mat-sec do">.</span></a>
        </li>
        <li>
          <a class="nav-link text-light" >Book ticket</a>

        </li>
        <li>

          <a class="nav-link text-light" >Check ticket</a>
        </li>
      </ul>
    </div>

    <a >Account</a>

  </div>
</nav>
