/** 
**  variables **
***/

@import "../../assets/fonts/variable";

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
p,
h1,h2,h3,h4,h5,h6{
    font-family: $font-family !important;
}
.mat{
    background-color: $secondary-dark;
}

.mat-sec{
    color: $secondary-dark;
}

.mat-pri{
    background: $primary-color;
}
.mat-pri-b{
    color: #208303;
}

.mat-sec-b{
    background: #DBA900;
}

span.dot{
    font-size: 30px;
    font-weight: 500;
}

section.ticket-section{
    width: 100%;
    height: 100vh;
    position: relative;

    div.bannar-container{
        width: 100%;
        padding: 2rem 0;
        background-color: $banner-bg;
        position: relative;

        &::after{
            content: '';
            display: block;
            width: 35%;
            height: 100%;
            background-color: $banner-agency-name;
            clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 22%, 0% 0%);
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
        }

        div.container{
            width: 90%;
            margin: 0 auto;
            
            div.ticket-bannar{
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: 1fr;

                div.banner-ticket-content{
                    
                    h3{
                        font-size: 25px;
                        font-weight: 600;
                        color: $secondary-dark;
                        line-height: 1;
                    }

                    p.bannar-para{
                        font-size: 15px;
                        font-weight: 400;

                        span.agency-name{
                            font-weight: bold;
                            color: $banner-agency-name;
                        }
                    }
                }

                div.bannar-agency-logo{
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    right: 10%;
                    transform: translate(-50%, -10%);
                    z-index: 1;

                    span.agency-logo{
                        width: 50px;
                        height: 50px;
                        display: block;
                        border-radius: 50%;
                        color: #fff;
                        font-size: 16px;
                        padding: .8rem 0;
                        font-weight: 800;
                        outline: .3rem solid wheat;
                    }
                }
            }

        }
    }

    div.ticket{
        width: 100%;
        height: auto;
        margin: 2rem 0;

        div.container{
            margin: 0 auto;
            width: 90%;

            div.ticket-form-container{
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 2fr;
                position: relative;

                &::after{
                    content: '';
                    display: block;
                    background-color: $secondary-dark;
                    width: 3px;
                    height: 20%;
                    position: absolute;
                    left: 30%;
                    top: 40%;
                    transform: translateX(-30%, -40%);
                    border-radius: 1rem;
                }
    
                div.price-card{
                    background: #fff;
                    border-radius: 1rem !important;
                    width: 80%;
                    height: 450px;
                    position: relative;
                    box-shadow: 0px 20px 40px rgba(185, 180, 180, 0.452);
    
            
    
                    div.card-head{
                       padding: .5rem 1rem;
                       border-bottom: 1px dashed $light-dark;
                        div.left,
                        div.right{
                            
                            span{
                                font-weight: 400;
                                display: block;
                                font-size: 13px;
                                color: $light-dark;
    
                                &:last-child{
                                    font-weight: 500;
                                    font-size: 16px;
                                }
                            }
    
                        }
    
                        div.mid{
                            position: relative;
                            width: 140px;
    
                            mat-icon.mat-sec-b
                            ,mat-icon.mat-pri{
                                border-radius: 50%;
                                color: #fff;
                            }
    
                            span.time{
                                text-align: center;
                                font-size: 13px;
                                position: relative;
                                
                                mat-icon{
                                    vertical-align: middle;
                                    font-size: 14px;
                                    padding: .3rem 0;
                                }
                            }
                        }
                    }
    
                    div.seats{
                        font-size: 13px;
                    }
    
                    div.card-body{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        position: relative;
                        overflow: visible;
                        height: auto;
                        
                        div.card-body-content{
                            width: 50%;
                            border-radius: 1rem;
                            padding: 1rem .5rem;
                            border: 1px dashed $light-dark;
                            margin: 1rem 0;
    
                            span{
                                display: block;
                                margin-bottom: .5rem;
                                text-align: center;
                            }
        
                            span.agency-name{
                                color: $secondary-dark;
                                background: #F9F5E5;
                                padding: .5rem 1rem;
                                position: relative;
                            }
        
                            span.time{
                                font-weight: 700;
                                font-size: 30px;
                                color: $light-dark;
                                opacity: .8;
                            }
                        }
    
                        div.bus-type{
                            width: 50%;
                            padding:  .5rem 2rem;
                            border-radius: .5rem;
                            box-shadow: 0px 10px 20px #a1a19d9d;
                            position: absolute;
                            left: 50;
                            top: 120%;
                            z-index: 999;
                            span{
                                display: inline-block;
                                color: $light-dark;
                                font-weight: 300;
                                font-size: 12px;
        
                                span.bus-cat{
                                    color: $secondary-dark;
                                    background: #F9F5E5;
                                    font: 13px;
                                }
                            }
        
                            span.price{
                                font-weight: 800;
                                color: $light-dark
                                span{
                                    color: $light-dark;
                                }
                            }
                        }
                    }
    
    
    
                    div.card-foot{
                        margin-top: 4rem;
                        padding: 3rem 1rem 1rem;
                        // background: $secondary-dark;
                        border-bottom-left-radius: 1rem;
                        border-bottom-right-radius: 1rem;
                    }
                }
                
                div.ticket-form{
                    width: 100%;
                    border-radius: .5rem;
                    box-shadow: 0px 20px 40px rgba(185, 180, 180, 0.452);


                    form{
                        width: 100%;
                        height: 100%;

                        fieldset.head{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 14px;
                            width: 100%;
                            padding: .6rem 2rem;
                            // margin-bottom: 1rem;
                            position: relative;

                            &::after{
                                content: '';
                                display: block;
                                background-color: $secondary-dark;
                                width: 15%;
                                height: 5px;
                                position: absolute;
                                left: 10%;
                                bottom: -5%;
                                transform: translateX(-30%);
                                border-radius: 1rem;
                            }

                            span.head-title{
                                display: block;
                            }

                            label{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                font-size: 13px;

                                div.date-container{
                                    background: $banner-bg;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: .2rem .5rem;
                                    margin-left: .4rem;
                                    position: relative;

                                    &::after{
                                        content: '';
                                        display: block;
                                        width: 2px;
                                        height: 80%;
                                        background-color: $secondary-dark;
                                        position: absolute;
                                        left: 25%;

                                    }
                                    
                                    mat-icon{
                                        color: $secondary-dark;
                                    }
                                    input{
                                        margin-left: .5rem;
                                        outline: none;
                                        border: none;
                                        color: $secondary-dark;
                                        background: transparent;
                                    }
                                }
                            }
                        }

                        div.user-details-container{
                            width: 100%;
                            padding: .6rem 1rem;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 1rem;
                            margin-top: 1rem;

                            fieldset{
                                outline: none;
                                border: none;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                span.user-name{
                                    display: block;
                                    margin-bottom: .5rem;

                                    mat-icon{
                                        font-size: 20px;
                                        margin-right: .5rem;
                                        vertical-align: middle;
                                    }

                                    label{
                                        font-size: 15px;
                                        font-weight: 500;
                                    }
                                }

                                input{
                                    outline: none;
                                    border: 1px solid $secondary-dark;
                                    padding: .5rem .2rem;
                                    background-color: #fff;
                                    border-radius: .5rem;
                                    width: 80%;
                                }
                            }
                        }

                        div.payment-container{
                            width: 45%;
                            background-color: $banner-bg;
                            border-radius: 1rem;
                            padding: .5rem .8rem;
                            margin-left: 2rem;
                            margin-bottom: 3rem;

                            div.payment-heading{
                                font-size: 15px;
                                position: relative;

                                h3.payment-title{
                                    font-weight: 600;
                                    margin: 0;
                                    padding: 0 0 .5rem;
                                }

                                &::after{
                                    content: '';
                                    display: block;
                                    background-color: $secondary-dark;
                                    width: 20%;
                                    height: 5px;
                                    position: absolute;
                                    left: 10%;
                                    bottom: -7%;
                                    transform: translateX(-30%, -40%);
                                    border-radius: 1rem;
                                }
                            }

                            div.payments{
                                width: 100%;
                                margin-top: 1rem;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                a{
                                    width: 45px;
                                    cursor: pointer;
                                    padding: 0;
                                    margin: 0;
                                    box-sizing: border-box;
                                    display: inline-block;

                                    img{
                                        width: 30px;
                                    }

                                    &:hover{
                                        box-shadow: 0px 4px 2px rgba(192, 192, 192, 0.2);
                                        transform: translateY(-.2rem);
                                        transition: all .25s linear;
                                        // width: 40px;
                                    }
                                }
                            }
                        }

                        div.privacy-container{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            margin: 0 2rem;

                            div.conditions{

                                label{
                                    margin-bottom: .5rem;
                                    display: block;
                                    font-size: 14px;
                                    font-weight: 500;

                                    input{
                                        margin-right: .5rem;
                                    }
                                }
                            }
                            
                            div.pay-now{
                                display: flex;
                                // flex-direction: column;
                                margin-right: 3rem;
                                
                                div.amount-container{
                                    font-size: 14px;
                                    font-weight: 500;

                                    p{
                                        font-size: 13px;

                                        span.amount{
                                            color: $secondary-dark;
                                            font-weight: bold;
                                        }
                                    }
                                }

                                button.pay-btn{
                                    background-color: #48b170;
                                    color: #fff;
                                    margin-left: 1rem;

                                    mat-icon{
                                        margin-left: 1rem;
                                        color: #fff;
                                    }

                                    &:hover{
                                        transform: translateY(-.2rem);
                                        transition: all .25s ease-in;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}

// resposive design

@media screen  and (min-width: 320px) and (max-width: 550px){
    
    section.ticket-section{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        div.ticket{
            width: 100%;

            div.container{
                width: 90%;

                div.ticket-form-container{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    width: 100%;
                    gap: 1rem;

                    &::after{
                        content: '';
                        display: block;
                        background-color: $secondary-dark;
                        width: 3px;
                        height: 40%;
                        position: absolute;
                        left: 50%;
                        top: 25%;
                        transform: translateX(-25%, -50%);
                        transform: rotate(90deg);
                        border-radius: 1rem;
                    }

                    div.price-card{
                        margin-bottom: 2rem;
                        width: 100%;
                    }

                    div.ticket-form{
                        width: 100%;

                        form{
                            width: 100%;
                            height: 100%;
    
                            fieldset.head{
                                display: flex;
                        
                                span.head-title{
                                    display: none;
                                }
    
                                label{
                                    width: 100%;
    
                                    div.date-container{
                                        
                                        &::after{
                                            left: 20%;
                                        }
                                        
                                        input{
                                            margin-left: 1rem;
                                        }
                                    }
                                }
                            }
    
                            div.user-details-container{
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                
                                fieldset{
                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
    
                                    &:not(:last-child){
                                        margin-bottom: .5rem;
                                    }
    
                                    span.user-name{
                                        width: 50%;
                                        display: block;
    
                                        mat-icon{
                                            font-size: 20px;
                                            margin-right: .5rem;
                                            vertical-align: middle;
                                        }
    
                                        label{
                                            font-size: 15px;
                                            font-weight: 500;
                                        }
                                    }
    
                                    input{
                                        width: 50%;
                                    }
                                }
    
                                button.add-btn{
                                    margin-top: 2rem;
                                    color: #fff;
                                }
                            }
    
                            div.payment-container{
                                width: 85%;

                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen  and (max-width: 772px){
    
    section.ticket-section{
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;

        div.ticket{
            width: 100%;


            div.container{
                width: 90%;

                div.ticket-form-container{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    gap: 1rem;

                    &::after{
                        content: '';
                        display: none;
                        background-color: $secondary-dark;
                        width: 3px;
                        height: 40%;
                        position: absolute;
                        left: 50%;
                        top: 25%;
                        transform: translateX(-25%, -50%);
                        border-radius: 1rem;
                    }

                    div.price-card{
                        margin-bottom: 2rem;
                        width: 100%;
                    }

                    div.ticket-form{
                        width: 100%;

                        form{
                            width: 100%;
                            height: 100%;
    
                            fieldset.head{
                                display: flex;
                        
                                span.head-title{
                                    display: none;
                                }
    
                                label{
                                    width: 100%;
    
                                    div.date-container{
                                        
                                        &::after{
                                            left: 20%;
                                        }
                                        
                                        input{
                                            margin-left: 1rem;
                                        }
                                    }
                                }
                            }
    
                            div.user-details-container{
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: row;
                                flex-wrap: wrap;
                                
                                fieldset{
                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
    
                                    &:not(:last-child){
                                        margin-bottom: .5rem;
                                    }
    
                                    span.user-name{
                                        width: 50%;
                                        display: block;
    
                                        mat-icon{
                                            font-size: 20px;
                                            margin-right: .5rem;
                                            vertical-align: middle;
                                        }
    
                                        label{
                                            font-size: 15px;
                                            font-weight: 500;
                                        }
                                    }
    
                                    input{
                                        width: 50%;
                                    }
                                }
    
                                button.add-btn{
                                    margin-top: 2rem;
                                    color: #fff;
                                }
                            }
    
                            div.payment-container{
                                width: 85%;

                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen  and (max-width: 1024px){
    
    section.ticket-section{
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;

        div.ticket{
            width: 100%;


            div.container{
                width: 90%;

                div.ticket-form-container{
                    display: flex;
                    // flex-wrap: wrap;
                    width: 100%;
                    gap: 1rem;

                    &::after{
                        content: '';
                        display: none;
                        background-color: $secondary-dark;
                        width: 3px;
                        height: 40%;
                        position: absolute;
                        left: 50%;
                        top: 25%;
                        transform: translateX(-25%, -50%);
                        border-radius: 1rem;
                    }

                    div.price-card{
                        margin-bottom: 2rem;
                        width: 100%;
                    }

                    div.ticket-form{
                        width: 100%;

                        form{
                            width: 100%;
                            height: 100%;
    
                            fieldset.head{
                                display: flex;
                        
                                span.head-title{
                                    display: none;
                                }
    
                                label{
                                    width: 100%;
    
                                    div.date-container{
                                        
                                        &::after{
                                            left: 20%;
                                        }
                                        
                                        input{
                                            margin-left: 1rem;
                                        }
                                    }
                                }
                            }
    
                            div.user-details-container{
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: row;
                                flex-wrap: wrap;
                                
                                fieldset{
                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
    
                                    &:not(:last-child){
                                        margin-bottom: .5rem;
                                    }
    
                                    span.user-name{
                                        width: 50%;
                                        display: block;
    
                                        mat-icon{
                                            font-size: 20px;
                                            margin-right: .5rem;
                                            vertical-align: middle;
                                        }
    
                                        label{
                                            font-size: 15px;
                                            font-weight: 500;
                                        }
                                    }
    
                                    input{
                                        width: 50%;
                                    }
                                }
    
                                button.add-btn{
                                    margin-top: 2rem;
                                    color: #fff;
                                }
                            }
    
                            div.payment-container{
                                width: 85%;
                            }
                        }
                    }
                }
            }
        }
    }
}